log/*.log
tmp/*
tmp/**/*
log/*.pid
.DS_Store
config/database.yml
config/backup_fu.yml
config/amazon_s3.yml
config/initializers/session_store.rb
public/javascripts/all.js
public/test
public/stylesheets/compiled/*
db/sphinx/development
db/*.sqlite3
config/development.sphinx.conf
.autotest
*.swp
public/plugin_assets
vendor/rails
files/*

